.item {
  display: flex;
  justify-content: space-between;
  background-color: #141619;
  color: white;
  margin: 20px auto;
  width: 600px;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: display 0.3s;
}
.deletebutton {
  color: red;
  background-color: yellow;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  color: green;
}
